
@font-face {
  font-family: 'Undertale Battle';
  src: url('~@/assets/fonts/Undertale-Battle-Font.woff2') format('woff2'),
  url('~@/assets/fonts/Undertale-Battle-Font.woff') format('woff'),
  url('~@/assets/fonts/Undertale-Battle-Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
